/*Home Section*/
body{
    width: 100%;
}
#home{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
#navbar{
    flex-direction: column;
}
#navbar ul{
    flex-direction: column;
}
#navbar ul li{
    margin: 5px;
    border-bottom: 1px solid white;
    border-radius:0;
    align-items: center;
    text-align: center;
    padding: 7px;
}
#navbar ul li a{
    text-align: center;
}
#education .items h3{
    font-size: 110%;
}

/*Education Section*/

#edu{
    flex-direction: column;
}
.head{
    font-size: 35px;
}
#edutimeline:after{
    width: 3px;
    left: 15%;
}
#education .container{
    width: 80%;
    margin-left: 20%;
}
#education .container:before{
    left: -7%;
}

#education .items{
    font-size: 105%;
    width: 65%;
}

/*Skills Section*/

#skill{
    flex-direction: column;
}
.topic{
    font-size: 130%;
}
.head2{
    font-size: 109%;
    line-height: 35px;
}
#photo img{
    padding: 0px;
    width: 160px;
}
#intro{
    font-size: 110%;
    line-height: 25px;
    margin: 0px;
    padding: 10px 30px 20px 30px;
    color: white;
}
.head{
    font-size: 28px;
    font-weight: 600;
}
.btne{
    font-size: 85%;
    width: 115px;
}
#skill .skillitem{
    width: 70%;
    height: auto;
    font-size: 105%;
    line-height: 26px;
}

/*Resume Section*/
#res{
    margin: 40px auto;
    flex-direction: column;
}
#resume #res .resumeitems{
    gap: 10px;
    font-size: 120%;
}
#resume #res .resumedesc{
    width: 100%;
    font-size: 110%;
}
#resumeimage{
    border: 2px solid black;
    width: 150px;
    margin: 20px;
}

#resume .btne{
    font-size: 90%;
}

/*Contact Section*/
.contactcont label{
    text-align: center;
    width: 50%;
    font-size: 105%;
}
.contactcont input{
    font-size: 95%;
}
/*Button Section*/
.btn{
    padding: 10px;
    margin: 10px;
    font-size: 100%;
    width: 100px;
}
.btn:hover{
    width: 120px;
}

/*Projects Section*/

#pro .proitems{
    flex-direction: column;
    font-size: 105%;
    margin: 20px;
    gap: 20px;

}
#pro .proitems .prodesc{
    width: 100%;
    line-height: 23x;
    
}
.proimage{
    width: 70%;
}
#social .imgitem{
    width: 50px;
}
/*Footer*/
.foot{
    font-size: 100%;
}


