*{
    margin: 0;
    padding: 0;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.reddish{
    color: red;
}
/*Navigation Menu*/
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}
#logo img{
    width: 40px;
    margin: 10px;
    transition-property: all;
    transition-duration: 0.3s;
}
#navbar{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition-property: background-color;
    transition-duration: 0.2s;
}
#navbar ul li:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/*Home Section*/
#home{
    display: flex;
}
.head2{
    font-size: 200%;
    line-height: 50px;
}
#intro{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 110%;
    line-height: 30px;
    margin: 30px 20px;
    padding: 30px;
    color: white;
    animation: animeup 3s ease-out;
}
#photo img{
    border: 3px solid black;
    margin: 30px 30px;
    border-radius: 20px;
    width: 180px;
    position: relative;
    animation: animeright 3s ease-out;
}
.social2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -10px;
    animation: animeleft 3s ease-out;
}
.social2 .imgitem{    
    width: 50px;
    margin: 0px 30px;
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.social2 .imgitem:hover{
    transform: translateY(-7px);
    box-shadow: 1px 1px 10px grey;
}

/*Education Section*/
.head{
    text-align: center;
    font-size: 39px;
    font-weight: 700;
}
#edutimeline{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
#edutimeline:after{
    content: '';
    position: absolute;
    width: 3px;
    background-color: black;
    top: -25px;
    bottom: 0;
    left: 25%;
}
#education .container{
    width: 50%;
    position: relative;
    margin-left: 27%;
    animation: animedown 4s ease-in-out forwards;
}
#education .container:before{
    content:'';
    position: absolute;
    background-color: red;
    border: solid black;
    border-width: 3px;
    z-index: 1;
    border-radius: 50%;
    left: -5.1%;
    width: 15px;
    height: 15px;
}

#education .items{
    box-shadow: 1px 1px 5px rgb(86, 86, 86);
    margin: 50px;
    padding: 10px 10px;
    text-align: center;
    font-size: 110%;
    background-color: azure;
    line-height: 28px;
    transition-property: all;
    transition-duration: 0.2s;
}
#education .items:hover{
    box-shadow: 2px 2px 10px rgb(86, 86, 86);
    cursor: pointer;
}
/*Skills Section*/
#skill{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
#skill .skillitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
    padding: 10px 20px;
    width: 40%;
    background-color:rgb(255, 248, 238);
    height: 250px;
    text-align: justify;
    font-size: 110%;
    box-shadow: 1px 1px 4px rgb(78, 78, 78);
    line-height: 28px;
    transition-property: all;
    transition-duration: 0.2s;
}
#skill .skillitem:hover{
    box-shadow: 2px 2px 10px rgb(78, 78, 78);
    cursor: pointer;
}
.topic{
    text-align: center;
    width: 75%;
}

/*Resume Section*/
#res{
    box-shadow: 1px 1px 5px grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px auto 20px ;
    padding: 30px;
    width: 80%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    background-color: rgb(237, 255, 237);
}

#res:hover{
    box-shadow: 2px 2px 10px grey;
}
#resume #res .resumeitems{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 130%;
    margin: 0px 40px;
}
#resume #res .resumedesc{
    width: 50%;
    font-size: 130%;
}
#resumeimage{
    border: 2px solid black;
    width:200px;
}

/*Projects Section*/
#pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}
#pro .proitems{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 7px grey;
    margin: 30px;
    padding: 30px;
    text-align: center;
    font-size: 110%;
    gap: 30px;
    transition-property: all;
    transition-duration: 0.2s;
}
#pro .proitems:hover{
    box-shadow: 2px 2px 10px grey;
    cursor: pointer;
    background-color:rgb(255, 255, 220);
}
#pro .proitems .prodesc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40%;
    padding: 20px;
    text-align: justify;
    line-height: 25px;
    
}
.proimage{
    width: 40%;
    border: 3px solid black;
}
/*Contact Section*/
.contactcont{
    margin: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.contactcont label{
    text-align: center;
    width: 50%;
    font-size: 110%;
}
.contactcont input{
    text-align: center;
    color: black;
    width: 60%;
    padding: 8px;
    box-shadow: 0.1px 0px grey;
    font-size: 100%;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social .imgitem{    
    width: 50px;
    margin: 10px;
    position: relative;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.social .imgitem:hover{
    transform: translateY(-7px);
    box-shadow: 1px 1px 10px grey;
}
/*Footer Section*/
.foot{
    background-color: black;
    padding: 20px;
    color: white;
    text-align: center;
}
.foot p{
    font-weight: 600;
    font-size: 115%;
    transition-property: all;
    transition-duration: 0.2s;
}
.foot p:hover{
    font-size: 125%;
}


/*Button*/
.btn{
    background-color:red;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-weight: 700;
    font-size: 100%;
    width: 120px;
    transition-property: all;
    transition-duration: 0.2s;
    color: white;
}
.btn:hover{
    background-color: white;
    border: 2px solid black;
    width: 120px;
    color: black;
    cursor: pointer;
}
.btne{
    background-color: red;
    border: 2px solid black;
    border-radius: 10px ;
    padding: 10px;
    font-weight: 700;
    font-size: 90%;
    margin: 10px;
    width: 130px;
    color: white;
    transition-property: all;
    transition-duration: 0.2s;
}
.btne a{
    text-decoration: none;
    color: white;
}
.btne:hover{
    transform:translateY(-2px);
    box-shadow: 1px 1px 10px grey;
    cursor: pointer;
}
/*Animation Keyframes*/
@keyframes animedown {
    from{
        top: 180px;
    }
    to{
        top: 0px;
    }
}
@keyframes animeleft {
    from{
        left: -900px;
    }
    to{
        left: 0px;
    }
}
@keyframes animeright {
    from{
        right: -200px;
    }
    to{
        right: 0px;
    }
}
@keyframes animeup {
    from{
        bottom: 300px;
    }
    to{
        bottom: 0px;
    }
}
